<!DOCTYPE html>
<html>
<head>
  <title>Book Details</title>
  <%- include('../../layout/styleLinks') %>
</head>
<body>
  <%- include('../../layout/header') %>
  <header id="head2">
    Book Details
  </header>
  <section class="detail-view container">
    <ul id="book">
      <li class="book-item" data-id="<%= book.id %>">
        <img src="<%= book.image_url %>">
        <p id="title">Title: <%= book.title %></p>
        <p id="author">Author: <%= book.author %></p>
        <p id="isbn">ISBN #: <%= book.isbn %></p>
        <p id="bookshelf">Bookshelf Name: <%= book.bookshelf %></p>
        <p id="description">Description: <%= book.description %></p>
        <div class="update hide">   
          <%- include('../../layout/form', {formAction: 'update', book: book }) %>
        </div>
        <button class="updateBook">Update Details</button>
        <button class="deleteBook">Delete Book</button>
      </li>
    </ul>
  </section>
</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.js"></script>
<script src="/scripts/formAction.js"></script>
</html>