<h2 class="form-title"><%- formAction === 'update' ? "Update Book" : "Add Book" %></h2>
<form action="<%= 'update' === formAction ? `/update/${book.id}` :'/add' %>" method="post">
  <input type="hidden" name="_method" value="<%- 'update' === formAction ? 'put' : 'post' %>">
  <input type="text" name="author" value="<%- book.author %>" required>
  <input type="text" name="title" value="<%- book.title %>" required>
  <input type="text" name="isbn" value="<%- book.isbn %>" required>
  <input type="text" name="image_url" value="<%- book.thumbnail %>">
  <textarea name="description" cols="30" rows="10"><%- book.description %></textarea>
  <!-- ternary partial went here but it broke the app :(  -->
  
  <button type="submit"><%- 'update' === formAction ? "Update Book" : "Add Book" %></button>
</form>